@model MyAccountViewModel
@inject VinylStop.Data.Interfaces.IAlbumRepository _albumRepository

<div class="container">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100% !important">
        <div class="mdl-card__title" style="font-weight: bold">
            <h2 class="mdl-card__title-text">@Model.FirstName @Model.LastName</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--border">
            @Model.Email
        </div>
        <div class="mdl-card__supporting-text">
            @Model.PhoneNumber
        </div>

    </div>

    <h2>My Purchases</h2>
    
    <div class="panel panel-default panel-order">

        @foreach (var order in @Model.OrderHistory)
        {
            @foreach (var orderDetail in order.OrderLines)
            {
                decimal subtotal = orderDetail.Price * orderDetail.Amount;

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3"><img src=@orderDetail.Album.ImageUrl class="media-object thumbnail-image-xs"></div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4><span><strong>@orderDetail.Album.Name</strong></span></h4>
                                    </div>
                                    <div class="col-md-12">
                                        <span style="font-weight:600">Quantity: </span> @orderDetail.Amount
                                    </div>
                                    <div class="col-md-12">
                                        <span style="font-weight:600">Price: </span> @subtotal

                                    </div>
                                    <div class="col-md-12">
                                        <span style="font-weight:600">Date Placed: </span> @order.DatePlaced.ToShortDateString()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            }
        }
       </div>
   </div>
</div>